<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.centralkitchen.mapper.DailyInventoryMapper">

    <select id="queryList" resultType="com.tre.centralkitchen.domain.vo.system.DailyInventoryVo">
        select ware.center_id,
               stock.warehouse_id,
               ware."name"              as warehouse_name,
               stock.item_id,
               item.item_name,
               item.n_szname,
               unit.unitname            as unit_name,
               pd.innercaseqty          as inner_case_qty,
               item.vendor_id,
               vdr.suppliername         as supplier_name,
               stock.qy,
               item."cost"              as case_cost,
               inventory.exptime01_date as exp_time_date_01,
               inventory.exptime02_date as exp_time_date_02,
               item.line_id
        from (select stock_date, center_id, warehouse_id, item_id, qy
              from centralkitchen.tr_stock
              where center_id = #{param.centerId}
                and stock_date = #{stockDate}
            <if test="param.zeroInventory == 0">
                and qy != 0
            </if>
            <if test="param.warehouseId != null and param.warehouseId.length > 0">
                and warehouse_id in
                <foreach collection="param.warehouseId" item="warehouseId" index="index" open="(" separator="," close=")">
                    #{warehouseId}
                </foreach>
            </if>
             ) stock
                 left join centralkitchen.purchasegroupbranches pubr
                           on stock.center_id = pubr.branchcd
                 left join centralkitchen.tm_shohin item
                           on stock.item_id = item.item_id
                               and item.area_id = pubr.purchasegroupcd
                 left join centralkitchen.mt_warehouseitem witem
                           on stock.center_id = witem.center_id
                               and stock.warehouse_id = witem.warehouse_id
                               and stock.item_id = witem.item_id
                 left join centralkitchen.mt_warehouse ware
                           on stock.center_id = ware.center_id
                               and stock.warehouse_id = ware.id
                 left join centralkitchen.mt_unit unit
                           on item.n_szname_typeid = unit.unitcd
                 left join centralkitchen.products pd
                           on stock.item_id = pd.productcd
                 left join centralkitchen.suppliers vdr
                           on item.vendor_id::varchar = vdr.suppliercd
                 left join centralkitchen.tr_inventory inventory
                           on stock.stock_date = inventory.inv_date
                               and stock.center_id = inventory.center_id
                               and stock.warehouse_id = inventory.warehouse_id
                               and stock.item_id = inventory.item_id
        where item.store_id = 0
        <if test="param.lineId != null and param.lineId.length > 0">
            and item.line_id in
            <foreach collection="param.lineId" item="lineId" index="index" open="(" separator="," close=")">
                #{lineId}
            </foreach>
        </if>
        order by ware.seq, ware."id", witem.seq, item.call_code, item.item_id
    </select>
</mapper>
