<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.centralkitchen.mapper.DepartmentsMapper">
    <select id="selectList" resultType="com.tre.centralkitchen.domain.vo.system.DepartmentsVo">
        SELECT distinct departmentcd,departmentname FROM centralkitchen.departments
        where linecd=#{lineId} order by departmentcd
    </select>
</mapper>