<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.centralkitchen.mapper.LinesMapper">

    <select id="selectList" resultType="com.tre.centralkitchen.domain.vo.system.LinesVo">
        SELECT distinct linecd, linename FROM centralkitchen.lines
          where linecd in (25,26) order by linecd
    </select>
</mapper>