<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.centralkitchen.mapper.MtVariousAutoPrintMapper">

    <select id="selectAllList" resultType="com.tre.centralkitchen.domain.vo.system.MtVariousAutoPrintVO">
        select a.center_id,
               b.branchname       AS center_name,
               a.line_id,
               a.qy,
               a.autoprint_typeid as auto_print_type_id,
               a.f_del,
               a.ins_date,
               a.ins_time,
               a.ins_user_id,
               a.ins_func_id,
               a.ins_ope_id,
               a.upd_date,
               a.upd_time,
               a.upd_user_id,
               a.upd_func_id,
               a.upd_ope_id
        from centralkitchen.mt_various_auto_print a
                 left join centralkitchen.branches b
                           on a.center_id = b.branchcd
                               and b.isclosed = 0
        where a.qy != 0
          and a.qy is not null
          and a.f_del = 0
          and a.center_id = #{centerId}
          and a.autoprint_typeid = #{autoPrintTypeId}
    </select>
</mapper>
