<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.centralkitchen.mapper.SubDepartmentsMapper">
    <select id="selectList" resultType="com.tre.centralkitchen.domain.vo.system.SubDepartmentsVo">
        SELECT distinct subdeptcd,subdeptname FROM centralkitchen.subdepartments
        where departmentcd=#{departmentId} order by subdeptcd
    </select>
</mapper>