<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.centralkitchen.mapper.WkRecievelcuProducedMapper">
    <delete id="deleteByCenterId">
        delete
        from centralkitchen.wk_recievelcu_produced
        where center_id = #{centerId}
    </delete>

    <insert id="backUpData">
        INSERT INTO escape.wk_recievelcu_produced_esc(esc_date,
                                                           center_id,
                                                           column01,
                                                           column02,
                                                           column03,
                                                           column04,
                                                           column05,
                                                           column06,
                                                           column07,
                                                           column08,
                                                           column09,
                                                           column10,
                                                           column11,
                                                           column12,
                                                           column13,
                                                           column14,
                                                           column15,
                                                           column16,
                                                           column17,
                                                           column18,
                                                           column19,
                                                           column20,
                                                           column21,
                                                           column22,
                                                           column23,
                                                           column24,
                                                           column25,
                                                           column26,
                                                           column27,
                                                           column28,
                                                           column29,
                                                           column30,
                                                           column31,
                                                           column32,
                                                           column33,
                                                           column34,
                                                           column35,
                                                           column36,
                                                           column37,
                                                           column38,
                                                           column39,
                                                           column40,
                                                           column41,
                                                           column42,
                                                           column43,
                                                           column44,
                                                           column45,
                                                           column46,
                                                           column47,
                                                           f_del,
                                                           ins_date,
                                                           ins_time,
                                                           ins_user_id,
                                                           ins_func_id,
                                                           ins_ope_id,
                                                           upd_date,
                                                           upd_time,
                                                           upd_user_id,
                                                           upd_func_id,
                                                           upd_ope_id)
        select now(),
               center_id,
               column01,
               column02,
               column03,
               column04,
               column05,
               column06,
               column07,
               column08,
               column09,
               column10,
               column11,
               column12,
               column13,
               column14,
               column15,
               column16,
               column17,
               column18,
               column19,
               column20,
               column21,
               column22,
               column23,
               column24,
               column25,
               column26,
               column27,
               column28,
               column29,
               column30,
               column31,
               column32,
               column33,
               column34,
               column35,
               column36,
               column37,
               column38,
               column39,
               column40,
               column41,
               column42,
               column43,
               column44,
               column45,
               column46,
               column47,
               f_del,
               ins_date,
               ins_time,
               ins_user_id,
               ins_func_id,
               ins_ope_id,
               upd_date,
               upd_time,
               upd_user_id,
               upd_func_id,
               upd_ope_id
        from centralkitchen.wk_recievelcu_produced
        where center_id = #{centerId};
    </insert>
    <insert id="insertData">
        insert into centralkitchen.wk_recievelcu_produced(center_id,
            column01,
            column02,
            column03,
            column04,
            column05,
            column06,
            column07,
            column08,
            column09,
            column10,
            column11,
            column12,
            column13,
            column14,
            column15,
            column16,
            column17,
            column18,
            column19,
            column20,
            column21,
            column22,
            column23,
            column24,
            column25,
            column26,
            column27,
            column28,
            column29,
            column30,
            column31,
            column32,
            column33,
            column34,
            column35,
            column36,
            column37,
            column38,
            column39,
            column40,
            column41,
            column42,
            column43,
            column44,
            column45,
            column46,
            column47,
            f_del,
            ins_date,
            ins_time,
            ins_user_id,
            ins_func_id,
            ins_ope_id,
            upd_date,
            upd_time,
            upd_user_id,
            upd_func_id,
            upd_ope_id) values
        <foreach collection="arr" item="wk" index="index" separator="),(" open="(" close=")">
            #{wk.centerId},
            #{wk.column01},
            #{wk.column02},
            #{wk.column03},
            #{wk.column04},
            #{wk.column05},
            #{wk.column06},
            #{wk.column07},
            #{wk.column08},
            #{wk.column09},
            #{wk.column10},
            #{wk.column11},
            #{wk.column12},
            #{wk.column13},
            #{wk.column14},
            #{wk.column15},
            #{wk.column16},
            #{wk.column17},
            #{wk.column18},
            #{wk.column19},
            #{wk.column20},
            #{wk.column21},
            #{wk.column22},
            #{wk.column23},
            #{wk.column24},
            #{wk.column25},
            #{wk.column26},
            #{wk.column27},
            #{wk.column28},
            #{wk.column29},
            #{wk.column30},
            #{wk.column31},
            #{wk.column32},
            #{wk.column33},
            #{wk.column34},
            #{wk.column35},
            #{wk.column36},
            #{wk.column37},
            #{wk.column38},
            #{wk.column39},
            #{wk.column40},
            #{wk.column41},
            #{wk.column42},
            #{wk.column43},
            #{wk.column44},
            #{wk.column45},
            #{wk.column46},
            #{wk.column47},
            #{wk.fDel},
            #{wk.insDate},
            #{wk.insTime},
            #{wk.insUserId},
            #{wk.insFuncId},
            #{wk.insOpeId},
            #{wk.updDate},
            #{wk.updTime},
            #{wk.updUserId},
            #{wk.updFuncId},
            #{wk.updOpeId}
        </foreach>
    </insert>
</mapper>